

<body>

<title>Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Sententio/style.css' %}" />



{% block title %}{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
<a href="/password_reset/">Forgot password?</a>

</body>