.choice_row{
	display: block;
}

.choice_option{
	display: inline-block;
	width: 120px;
}

body {
	font-family: 'Calibri Light';
}

.table{
	display: table;
	width: 90%;
	margin: 20px auto;
	border-collapse: collapse;
}

.table_row{
	display: table-row;
	/*border: 1px black solid;*/
}

.table_cell{
	display: table-cell;
	vertical-align: middle;
/*	border: solid 1px black;*/
	padding: 4px;

}

.react_text{
	font-size: 23px;
}

.react_number{
	font-size: 15px;
}


.bar_left_all, .bar_left_user, .bar_left_tweet, .bar_left_all2, .bar_left_user2, .bar_left_tweet2 {
	width: 50%;
	height: 20px;
	display: inline;
	float: right;
	margin-right: 0px;
	text-align: right;
	background: rgb(217, 234, 211);
	margin-bottom: 2px;
}

.bar_right_all, .bar_right_user, .bar_right_tweet, .bar_right_all2, .bar_right_user2, .bar_right_tweet2 {
	width: 50%;
	height: 20px;
	display: inline-block;
	float: left;
	margin-left: 0px;
	margin-bottom: 2px;
	background-color: rgb(230, 184, 175);
}

.bar_right_tweet{
	background-color: #D04848;
}

.bar_right_user{
	background-color: #E28E8E;
}

.bar_right_all{
	background-color: #F1C7C7 ;
}

.bar_left_tweet{
	background-color: #55C35D;
}

.bar_left_user{
	background-color: #90D895;
}

.bar_left_all{
	background-color: #D1EFD3;
}


.bar_left_tweet2, .bar_right_tweet2{
	background-color: #6699FF;
}

.bar_left_user2, .bar_right_user2{
	background-color: #97BAFF;
}

.bar_left_all2, .bar_right_all2{
	background-color: #C5D8FF;
}

.main_area{
	padding: 10px;

}

.title_area{
	margin: 0px;
	padding: 10px;
	background: darkgray;
	color: white;
/*	border: 2px solid black;*/
}

.content_area_1{
	margin: 0px;
	padding: 10px;
/*	border: 2px solid black;*/

}