<body>

<title>Classifier Portal</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Sententio/style.css' %}" />



<div class='main_area'>

	<div class='title_area'>

		<h1>Classifier Portal</h1>

	</div>

	<div class='content_area_1'>

		{% if randomtweet == "empty" %}
			<h1>No more tweets to classify</h1>
		{% else %}
			<h2>{{randomtweet.target_tweet}}</h2>
			<h1 id ={{randomtweet.tweetid}} >{{randomtweet.text}}</h1>
		{% endif %}

		{% if randomtweet == "empty" %}

		{% else %}
			<div class="choice_row">
				<form action="{% url 'Sententio:Classifier_Portal' %}" method="post">
					
					{% csrf_token %}

					{% for reaction in reactions %}

					<div class="choice_option">
					<input type="checkbox" id="{{reaction.0}}{{ forloop.counter }}" value="{{reaction.0}}" name="{{reaction.0}}"/>
					<label for="{{reaction.0}}{{ forloop.counter }}">{{reaction.0}}</label><br />
					</div>

					<div class="choice_option">
					<input type="checkbox" id="{{reaction.1}}{{ forloop.counter }}" value="{{reaction.1}}" name="{{reaction.1}}"/>
					<label for="{{reaction.1}}{{ forloop.counter }}">{{reaction.1}}</label><br />
					</div>

					<br>
					
					{% endfor %}
					<br>
					<input type="hidden" name='tweetid' value="{{randomtweet.tweetid}}"/>
					<input type="hidden" name='rxn_group' value='rxn_group'/>
					<input type="submit" value="Classify" />

				</form>
			</div>
		{% endif %}

	</div>

</div>



</body>