<body>

<title>Murmuration</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Sententio/style.css' %}" />

<h1>{{t_tweet.username}}</h1>
<h2 style="margin-bottom: 50px;">{{t_tweet.text}}</h2>

<div class='graph_box'>

<!-- 	<div>{{t_stat_set}}
	</div> -->

	<div class='table'>
		{% for reactpair in reactset1 %}
			<div class='table_row'>
				<div class='table_cell' style="width: 10%; text-align: right;"><div class="react_text">{{reactpair.0}}</div></div>
				
				<div class='table_cell' style="width: 40%; border-right: solid 3px black;">
					<div style="display: table; width: 100%;">
					{% for t_stat in t_stat_set %}
						{% if t_stat == reactpair.0 %}
							{% with t_stat|add:".tweet" as phrase %}
							<div class='table_row'>
								<div class="bar_left_tweet" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".user" as phrase %}
							<div class='table_row'>
								<div class="bar_left_user" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".all" as phrase %}
							<div class='table_row'>
								<div class="bar_left_all" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
				</div>

				<div class='table_cell' style="width: 40%; border-left: solid 3px black;">
					<div style="display: table; width: 100%;">
					{% for t_stat in t_stat_set %}
						{% if t_stat == reactpair.1 %}
							{% with t_stat|add:".tweet" as phrase %}
							<div class='table_row'>
								<div class="bar_right_tweet" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".user" as phrase %}
							<div class='table_row'>
								<div class="bar_right_user" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".all" as phrase %}
							<div class='table_row'>
								<div class="bar_right_all" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
				</div>
				
				<div class='table_cell' style="width: 10%; text-align: left;"><div class="react_text">{{reactpair.1}}</div></div>
			</div>

		{% endfor %}

		{% for reactpair in reactset2 %}
			<div class='table_row'>
				<div class='table_cell' style="width: 10%; text-align: right;"><div class="react_text">{{reactpair.0}}</div></div>
				
				<div class='table_cell' style="width: 40%; border-right: solid 3px black;">
					<div style="display: table; width: 100%;">
					{% for t_stat in t_stat_set %}
						{% if t_stat == reactpair.0 %}
							{% with t_stat|add:".tweet" as phrase %}
							<div class='table_row'>
								<div class="bar_left_tweet2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".user" as phrase %}
							<div class='table_row'>
								<div class="bar_left_user2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".all" as phrase %}
							<div class='table_row'>
								<div class="bar_left_all2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: right; margin-right: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
				</div>

				<div class='table_cell' style="width: 40%; border-left: solid 3px black;">
					<div style="display: table; width: 100%;">
					{% for t_stat in t_stat_set %}
						{% if t_stat == reactpair.1 %}
							{% with t_stat|add:".tweet" as phrase %}
							<div class='table_row'>
								<div class="bar_right_tweet2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".user" as phrase %}
							<div class='table_row'>
								<div class="bar_right_user2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}

							{% with t_stat|add:".all" as phrase %}
							<div class='table_row'>
								<div class="bar_right_all2" style="width: {{ t_stat_set|get_item:phrase }}%;"></div><div style="display:inline-block; float: left; margin-left: 3px;">{{ t_stat_set|get_item:phrase }}%</div>
							</div>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
				</div>
				
				<div class='table_cell' style="width: 10%; text-align: left;"><div class="react_text">{{reactpair.1}}</div></div>
			</div>

		{% endfor %}
	</div>



</div>



</body>