

<body>

<title>LOGGED OUT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load static %}

<h1>You have been logged out</h1>
<a href="/login">Log in again</a>

<link rel="stylesheet" type="text/css" href="{% static 'Sententio/style.css' %}" />



</body>